body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#chat-container {
    text-align: center;
}

#buttons-container button, #code-container button, #send-message {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#chat-room {
    border: 1px solid #ccc;
    padding: 10px;
}

#chat-window {
    height: 200px;
    border: 1px solid #ccc;
    overflow-y: auto;
    margin-bottom: 10px;
}

#message-input {
    width: 80%;
}
